<section class="row px-4 my-4">
  <section class="text__container col-sm-8 d-flex flex-column justify-content-center align-items-start">
    <h1>Framework Angular</h1>
    <p>
      Angular es una plataforma y framework para la creación de aplicaciones de una sola página en el lado del cliente usando HTML, CSS y TypeScript. Angular es escrito en TypeScript. Implementa la funcionalidad básica y opcional como un conjunto de bibliotecas TypeScript que importas en tus aplicaciones.
    </p>
  </section>
  <section class="image__container col-sm-4 d-flex justify-content-center align-items-center">
    <img src="assets/images/angular.png" alt="Angular" style="width: 250px" />
  </section>
</section>
